asn1crypto==0.24.0
backports.functools-lru-cache==1.6.1
beautifulsoup4==4.6.0
certifi==2020.4.5.1
chardet==3.0.4
cheroot==8.3.0
CherryPy==3.8.2
click==7.1.1
contextlib2==0.6.0.post1
cryptography==2.1.4
cycler==0.10.0
docopt==0.6.2
enum34==1.1.6
Flask==1.1.2
grip==4.5.2
gunicorn==20.0.4
idna==2.9
ipaddress==1.0.17
itsdangerous==1.1.0
jaraco.functools==2.0
Jinja2==2.11.1
keyring==10.6.0
keyrings.alt==3.0
kiwisolver==1.1.0
Markdown==3.1.1
MarkupSafe==1.1.1
matplotlib==2.2.5
more-itertools==5.0.0
numpy==1.22.0
oauthlib==3.1.0
pandas==0.24.2
parse==1.15.0
path-and-address==2.0.1
portend==2.6
pycrypto==2.6.1
Pygments==2.5.2
pyparsing==2.4.7
python-dateutil==2.4.2
pytz==2019.3
pyxdg==0.25
requests==2.23.0
requests-oauthlib==1.0.0
SecretStorage==2.3.1
six==1.14.0
spotipy==2.11.1
soupsieve==1.9.5
subprocess32==3.5.4
tempora==1.14.1
urllib3==1.25.8
Werkzeug==1.0.1
zc.lockfile==2.0
